.roof-base-triangle {
    position: relative;
    border-bottom: 1px solid #999;
}

.roof-anels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.wall {
    background: #999;
    width: 1px;
    position: absolute;
}