.panel-component {

}

.text-input-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.panel-dimensions {
    display: flex;
    justify-content: center;
    align-content: center;

    margin: 3em;
}