.checkbox-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 20em;
    margin: .5em;
    border-radius: 5em;

    transition: background-color .1s;
}

.checkbox-input:hover {
    background-color: #fafafa;
    
}


.checkbox-input-label {

}