body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100%;
}

.text-board {
  border: 1px solid #323232;
  border-radius: 4px;
  padding: 10px;
}

.text-board-header {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-board-text {
  margin-bottom: 5px;
}

.button {
  width: 10em !important;
  margin: .5em !important;
}

.stepper-button-container {
  display: flex;
  justify-content: center;
}

.checkbox-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  width: 20em;
  margin: .5em;
  border-radius: 5em;

  transition: background-color .1s;
}

.checkbox-input:hover {
  background-color: #fafafa;

}

.stepper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}


.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em;

  min-height: 65vh;
}


.input {
  margin: .5em;
  min-width: 20em;
}


.selected-mark {
  position: absolute;

  left: 1em;
  bottom: 1em;

  border: .3em solid #1976d2;
  color: #1976d2;
  text-align: center;
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
}

.card {
  width: 20em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border: .1em solid transparent;
  padding: .5em 1em;
  margin: .2em;

  transition: 200ms;
}

.card-selected {
  border: .1em solid #1976d2;
  border-radius: .5em;
}

.card:hover {
  border: .1em solid #1976d2;
  border-radius: .5em;
}

.card-image-wrapper {
  width: 5em;
  height: 5em;
  margin-right: 1em;
}

.card-image {
  max-width: 5em;
  max-height: 5em;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
}

.output-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.output-component-items {
  display: flex;
  flex-direction: column;
}

.big-card {
  width: 25em;
}

.big-card .card-image-wrapper {
  width: 10em;
  height: 10em;
}

.big-card .card-image-wrapper .card-image {
  max-width: 10em;
  max-height: 10em;
}


.item-card-container {
  width: 12em;
  height: 15em;
  padding: .5em;

  margin: .3em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: .4em;
  box-shadow: 2px 2px 2px 1px grey;
  transition: box-shadow .2s;
}

.item-card-container-selected {
  box-shadow: 2px 2px 2px 1px #1976d2;
}

.item-card-container:hover {
  box-shadow: 2px 2px 2px 1px #1976d2;
}

.item-card-image {
  max-width: 9em;
  max-height: 9em;
}


.download-button {
  text-decoration: none;
  border: 1px solid rgba(25, 118, 210, 0.5);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 4px;
  color: #1976d2;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.download-button:hover {
  text-decoration: none;
  background-color: rgba(25, 118, 210, 0.04);
  border: 1px solid #1976d2;
}

.panel-dimensions {
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 3em;
}

.dimension-panel:hover {
  transform: rotate3d(0, 0, 0, 00deg) rotate(0deg);
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  margin-bottom: 4px;
  margin-right: 4px;
}

.dimension-panel {
  border: 1px solid #999;
  background-image: radial-gradient(#999 1px, transparent 0px);
  background-size: 5px 5px;
  position: relative;
  transform: rotate3d(.5, -.866, 0, 20deg) rotate(3deg);
  border-bottom: 5px solid #999;
  border-right: 5px solid #999;

  transition: .7s;
}

.dimension-panel-dimmension {
  background: black;
  text-align: center;
  position: absolute;
  height: 2px;
  line-height: 2em;
}

.panel {
  border: 1px solid #999;
  background-image: radial-gradient(#999 1px, transparent 0px);
  background-size: 5px 5px;
  transition: background-color .5s;
}

.panel-row {
  display: flex;
}

.panel:hover {
  background-color: #d1222b;
}

.MuiFormGroup-root {
  justify-content: space-around;
}

.roof-base-rectangle {
  position: relative;
  border: 1px solid #999;
}

.roof-panels-rectangle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;

}


.roof-base-trapezoid {
  position: relative;
  border-bottom: 1px solid #999;
}

.wall {
  position: absolute;
  background: #999;
  height: 1px;
}

.roof-panels-trapezoid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.roof-base-triangle {
  position: relative;
  border-bottom: 1px solid #999;
}

.roof-panels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.wall {
  background: #999;
  width: 1px;
  position: absolute;
}

.developer-info {
  display: flex;
  justify-self: flex-end;

  font-size: smaller;
  color: grey;
}

.developer-info p a {
  color: lightblue;
  text-decoration: none;

  font-weight: 700;
}

.invertors {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
}

.invertor {
  width: 35em;
  border: 1px solid black;
  padding: .5em;
  margin: .5em;
}

.invertor-param-value {
  width: 100%;
}

.resource-row-name {
  width: 10em;
}

.resource-table-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;

  justify-content: center;
}

.row-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 21em;
}

.small-input {
  width: 6em;
  margin: .2em;
}

.tooltip-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.div-4040 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}